<%- include('includes/head'); %>
    <%- include('includes/nav'); %>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 my-5 mx-auto">
                    <h1 class="text-center">Formulário de registro</h1>
                    <p class="text-center lead">Adicione ou edite seus contatos abaixo</p>
                    <%- include('includes/messages') %>

                    <% if(contato.id) { %>
                        <form class="formulario" action="/contato/edit<%= contato._id %>" method="POST">
                    <% } else { %>
                        <form class="formulario" action="/contato/register" method="POST"></form>
                    <% } %>
                            <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                            <div class="form-group">
                                <label for="nome" id="nome-label">Nome</label>
                                <input value="<%= contato.nome %>" type="text" id="nome" placeholder="Digite seu nome"
                                    name="nome" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="sobrenome" id="sobrenome-label">Sobrenome</label>
                                <input type="text" id="sobrenome"
                                    placeholder="Digite seu sobrenome" name="sobrenome" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email" id="email-label">E-mail</label>
                                <input v type="email" id="email"
                                    placeholder="Digite seu E-mail" name="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="telefone" id="telefone-label">Telefone</label>
                                <input type="tel" id="telefone"
                                    placeholder="Digite seu telefone" name="telefone" class="form-control">
                            </div>
                            <div class="form-group">
                                <button class="btn-submit" type="submit" id="btn-submit">Salvar</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>

    <%- include('includes/footer'); %>