<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
  <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-5">
          <form class="form-signin" action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <h1 class="h3 mb-3 font-weight-normal text-center my-5">Entrar</h1>
              <p class="text-center lead">Faça login ou crie sua conta abaixo</p>
              <%- include('includes/messages'); %>
              <label for="inputEmail" class="sr-only">E-mail</label>
              <input type="email" id="inputEmail" class="form-control mb-4 col-lg-6 mx-auto" name="email" placeholder="Email" autofocus="">
              <label for="inputPassword" class="sr-only col-lg-4">Senha</label>
              <input type="password" name="password" class="form-control col-lg-6 mx-auto" placeholder="Senha">
              <button class="btn btn-lg btn-outline-primary btn-block col-lg-6 mx-auto mt-3" type="submit">Login</button>
              <div class="row">
                <a href="cadastro/index" class="mx-auto col-sm-6 mt-2 text-success lead">Criar conta</a>
              </div>
              
            </form>
      </div>

      <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer'); %>